body {
    background-color: darkseagreen;
}
#h1{
    font-family: Baghdad;
    text-align: right;
    content : "Hangman";
    text-decoration-color: white;
    text-shadow: aqua;
    font-size: 100pc;
}
